<!DOCTYPE html>
<html ng-app="camanApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>CAMAN JS</title>
    <script src="../../bower_components/angular/angular.min.js"></script>
    <script src="../../bower_components/svg.js/dist/svg.js"></script>
    <script src="../../bower_components/svg.filter.js/svg.filter.js"></script>
    <!--<script src="../../bower_components/svg.filter.js/spec/spec/svg.filter.js"></script>-->
    <script src="../../scripts/controllers/caman.js"></script>
</head>
<body ng-controller="camanCtrl">
<div id="drawing">
</div>
<button ng-click="hue()">HUE</button>
<button ng-click="sepiatone()">sepiatone</button>
<button ng-click="lighten()">lighten</button>
<button ng-click="desaturate()">desaturate</button>
<button ng-click="contrast()">contrast</button>
<button ng-click="posterize()">posterize</button>
<button ng-click="invert()">invert</button>
<button ng-click="gamma1()">Gamma1</button>
<button ng-click="gamma2()">Gamma2</button>
<button ng-click="unfilter()">unfilter</button>
</body>
</html>