<!DOCTYPE html>
<html ng-app="myApp">
    <head lang="en">
        <!--<script>-->
            <!--var myEvent = window.addEventListener;-->
            <!--var chkevent = window.attachEvent ? 'onbeforeunload' : 'beforeunload';-->

            <!--myEvent(chkevent, function(e) {-->
                <!--var confirmationMessage = ' ';-->
                <!--(e || window.event).returnValue = confirmationMessage;-->
                <!--return confirmationMessage;-->
            <!--});-->
        <!--</script>-->
        <title>TActo</title>
        <script src="../../bower_components/angular/angular.min.js"></script>
        <script src="../../bower_components/raphael/raphael.js"></script>
        <script src="../../bower_components/jquery/dist/jquery.js"></script>
        <script src="../../bower_components/underscore/underscore.js"></script>
        <script src="../../bower_components/mousetrap/mousetrap.min.js"></script>
        <script src="../../bower_components/Raphael.Export/raphael.export.js"></script>

        <script src="../../bower_components/angular-animate/angular-animate.js"></script>
        <script src="../../bower_components/Raphael.FreeTransform/raphael.free_transform.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <script src="../../bower_components/raphael.json/raphael.json.js"></script>
        <script src="../../bower_components/sizzle/dist/sizzle.js"></script>
        <script src="../../bower_components/canvg/canvg.js"></script>
        <!--<script src="../../bower_components/canvg/StackBlur.js"></script>-->

        <!--<script src="bower_components/svg.filter.js/svg.filter.js"></script>-->
        <script src="../../scripts/controllers/home.js"></script>
    </head>
    <body ng-controller= "createCtrl" >
        <div class="row">
            <div class="col-md-7">
                <div id="editor" style="border: solid"></div>
                <div  style=" background: rgba(0, 0, 9, 0.1); float:left;top: 75px; position: absolute; width: auto; height: auto;
                margin-top:10px;display:block;
                margin-left: 25px;border: solid">
                     <input type="button" value="Undo" class="btn btn-primary" ng-click="undoOperation()">
                     <input type="button" value="Redo" class="btn btn-primary" ng-click="redoOperation()"><br>
                     <input type="button" value="SAVE" class="btn btn-primary" ng-click="saveCanvas()">
                     <input type="button" value="New" class="btn btn-primary" ng-click="newCanvas()">
                </div>
                <div id="toolBar" ng-if="currentImage!==null" style=" left:80px;top: 5px;background: rgba(0, 4, 9, 0.1); float:left; position: absolute; width: auto; height: auto;
                    display:block; border: solid">
                    <input type="button" value="Zoom- In" class="btn btn-primary" ng-click="zoomIn()">
                    <input type="button" value="Zoom-Out" class="btn btn-primary" ng-click="zoomOut()">
                    <input type="button" value="back" class="btn btn-primary" ng-click="back()">
                    <input type="button" value="front" class="btn btn-primary" ng-click="front()">
                    <!--<input type="submit" value="clear" class="btn btn-primary" ng-click="clear()">-->
                    <input type="button" value="Flip" class="btn btn-primary" ng-click="flipImage()">
                    <input type="button" value="Flop" class="btn btn-primary" ng-click="flopImage()">
                    <input type="button" value="delete" class="btn btn-primary" ng-click="deleteImage()">
                    <input type="button" value="Clone" class="btn btn-primary" ng-click="cloneImage()">
                    <input type="button" value="crop" class="btn btn-primary" ng-click="cropPop()">
                    <input id="range" max="1.0" min="0" ng-change="setOpacity()" ng-model="$parent.opacity" step="0.01" type="range">Opacity
                </div>
            </div>
            <div  style="background-color: #262626;border:solid;height:500px" class="col-md-5">
                    <div  ng-repeat="item in imageArray">
                        <img class="for-image" style="height: 100px; width: 100px" ng-src="../views/img/{{item.src}}">
                </div>
           </div>
            <div id="bar"></div>
            <canvas id="myCanvas" style="display:none;"></canvas>
            <!--<img id="myImg" src="">-->
        </div>
    </body>
</html>