<!DOCTYPE html>
<html ng-app="myapp">
    <head lang="en">
        <meta charset="UTF-8">
        <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
        <script src="../../bower_components/angular/angular.js"></script>
        <script src="../../bower_components/jquery/dist/jquery.js"></script>
        <!--<script src="../controllers/fb-login.js"></script>-->
        <title>Fb Login</title>
    </head>
    <body >


    <div ng-controller="MyController" >
        <ul>
            <li ng-repeat="item in myData.items"
                ng-click="myData.doClick(item, $event)">Click here</li>
        </ul>
    </div>
    <!--<div id="fb-root">-->
        <!--<img src="img/LoginWithFacebook.png" style="cursor:pointer;" ng-click="fbLogin()"/>-->
    <!--</div>-->

    <!--<input type="text" ng-model="textType">-->
    <!--<div ng-class="textType">Look! I'm Words!</div>-->
    <!--<div class="container" >-->
        <!--<b>Name:{{user.name}}</b><br>-->
        <!--<b>Email:{{user.email}}</b><br>-->
        <!--<b>gender:{{user.gender}}</b><br>-->
        <!--<b>locale:{{user.locale}}</b><br>-->
        <!--<b>timezone:{{user.timezone}}</b><br>-->
        <!--<b>verified:{{user.verified}}</b><br>-->
        <!--<b>birthday:{{user.birthday}}</b><br>-->
        <!--<img ng-src="{{user.img}}">-->
    <!--</div>-->

    </body>
    <script>
        angular.module("myapp", [])
                .controller("MyController", function($scope) {
                    $scope.myData = {};
                    $scope.myData.items = [{ v: "1"}, { v: "2"}, { v : "3"} ];

                    $scope.myData.doClick = function(item, event) {
                        alert("clicked: " + item.v + " @ " + event.clientX + ": " + event.clientY);
                    }


                } );
    </script>
</html>


