
<html ng-app="myApp">
    <head>
        <script src="../../bower_components/angular/angular.min.js"></script>
        <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>
        <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../../bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="../../scripts/controllers/home.js"></script>
        <title>WodRob</title>
    </head>
    <body style="background-color: #d5d5d5">
        <div class="row">
            <div class="row" ng-controller="homepageCtrl">
                <div class="col-md-8">
                    <ul class="nav nav-pills">
                        <li role="presentation" ><a href="#">About</a></li>
                        <li role="presentation"><a href="#">Contact</a></li>
                        <li role="presentation"><a href="#">Support</a></li>
                        <li role="presentation"><a ng-click="feedback()" href="#">Feedback</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="nav nav-pills">
                        <li role="presentation" ><a ng-click="signIn('signin')">Log In</a></li>
                        <li role="presentation"><a ng-click="signIn('signup')">Sign Up</a></li>
                    </ul>
                </div>
            </div>

            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <div class="row">
                            <div class="col-md-6" style="margin-bottom:30px">
                                <a class="navbar-brand" href="home.html">
                                    <img src="img/WodRob.png" >
                                </a>
                            </div>
                            <div class="col-md-6" style="margin-top: 15px">
                                <div class="col-md-3" >
                                    <a class="navbar-brand" href="shop.html" style="margin-right: 140px">Shop</a>
                                </div>
                                <div class="col-md-5">
                                    <a  class="navbar-brand" href="mashupp.html" >MashUPP</a>
                                </div>
                                <div class="col-md-4">
                                    <a class="navbar-brand" href="create.html" >Create</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div>
                <ng-view>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <a href="shop.html">a
                        <button class="btn btn-info"  style="height: 80px;margin-left: 20px">Shop</button>
                    </a>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2">
                    <button class="btn btn-info"  style="height: 30px;margin-left: 33px">Filter</button>
                </div>
                <div class="col-md-1">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="price" data-toggle="dropdown" aria-expanded="true">
                            Price
                            <span class="caret"></span>
                        </button>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="type" data-toggle="dropdown" aria-expanded="true">
                            Type
                            <span class="caret"></span>
                        </button>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="color" data-toggle="dropdown" aria-expanded="true">
                            Color
                            <span class="caret"></span>
                        </button>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>