<!DOCTYPE html>

<html>


<head lang="en">

    <meta charset="utf-8">

    <script src="../../bower_components/angular/angular.min.js"></script>
    <script src="../../scripts/controllers/test.js"></script>
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>

    <style>

        .starRating {

            margin: 0;

            padding: 0;

            color: #a9a9a9;

        }

        .starRating li {

            list-style-type: none;

            display: inline-block;

            padding: 3px;

            font-weight: bold;

            cursor: pointer;

        }

        .starRating .filled {

            color: yellow;

        }

    </style>

</head>

<body ng-app="app">
<div ng-controller="Ctrl">

    <h3>Star Rating</h3>
    <div ng-init="rating = star.rating + 1"></div>
    <div star-rating rating-value="rating" data-max="5"></div>

</div>
</body>
</html>


<!--<!DOCTYPE html>-->

<!--<html>-->


<!--<head lang="en">-->

<!--<meta charset="utf-8">-->

<!--<script src="../../bower_components/angular/angular.min.js"></script>-->
<!--<script src="../../scripts/controllers/test.js"></script>-->
<!--<script src="../../bower_components/jquery/dist/jquery.min.js"></script>-->

<!--<style>-->

<!--.starRating {-->

<!--margin: 0;-->

<!--padding: 0;-->

<!--color: #a9a9a9;-->

<!--}-->

<!--.starRating li {-->

<!--list-style-type: none;-->

<!--display: inline-block;-->

<!--padding: 3px;-->

<!--font-weight: bold;-->

<!--cursor: pointer;-->

<!--}-->

<!--.starRating .filled {-->

<!--color: yellow;-->

<!--}-->

<!--</style>-->

<!--</head>-->

<!--<body ng-app="app">-->
<!--<div ng-controller="Ctrl">-->

<!--<h3>Star Rating</h3>-->
<!--<div ng-init="rating = star.rating + 1"></div>-->
<!--<div star-rating rating-value="rating" data-max="5"></div>-->

<!--<input type="text" ng-model='data.value' ng-change="check(data.value)">-->
<!--<input type="text" ng-model='data.value1' ng-change="check(data.value1)">-->
<!--</div>-->
<!--</body>-->
<!--</html>-->


<html ng-app="app">

<head>

    <script src="../../bower_components/angular/angular.min.js"></script>
    <script src="../../scripts/controllers/test1.js"></script>
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.css">
</head>

<body ng-controller="newCtrl">
<div ng-repeat="person in person">
<form class="form-group" name="signinForm">
<label>Name:
<input class="form-control" ng-model="person.name" type="text">
</label>
<label>Male:
<input class="form-control" ng-model="person.gender" name="gender{{$index}}" type="radio" value="male">
</label>
<label>Female:
<input class="form-control" ng-model="person.gender" name="gender{{$index}}" type="radio" value="female">
</label><br>
<label>Age
<input class="form-control" ng-model="person.age" type="number">
</label>
</form>
</div>


<!--<div class="row">-->
<!--<div class="col-md-2">-->
<!--<!--Sidebar content-->-->

<!--Search: <input ng-model="query">-->
<!--Sort by:-->
<!--<select ng-model="orderProp">-->
<!--<option value="{{sorting.sortQuery}}" ng-repeat="sorting in phones.sorting"-->
<!--ng-selected="sorting.sortQuery == orderProp"-->
<!--ng-disabled="sorting.disabled">{{sorting.title}}</option>-->
<!--</select>-->

<!--</div>-->
<!--<div class="col-md-10">-->
<!--<!--Body content-->-->

<!--<ul class="phones">-->
<!--<li ng-repeat="phone in phones.data | filter:query | orderBy:orderProp">-->
<!--<span>{{phone.name}}</span>-->
<!--<p>{{phone.snippet}}</p>-->
<!--<p ng-if="phone.weight">Weight: {{phone.weight}}g</p>-->
<!--<p ng-if="phone.androidVersion">Android Version: {{phone.androidVersion}}</p>-->
<!--<hr/>-->
<!--</li>-->
<!--</ul>-->

<!--</div>-->
<!--</div>-->
<!--<button ng-click="addPerson()">Add another person</button>-->
<!--<pre>{{reservation | json}}</pre>-->
<!--<select ng-model="selected" ng-options=" opt as opt.val  for opt in country">-->
<!--<option ng-if="!selected" >Select country</option>-->
<!--</select>-->
<!--<select  ng-model="sel" ng-options="op for op in {{selected}}">-->
<!--<option ng-if="!sel" ng-selected="sel">Select stateS</option>-->
<!--</select>-->

<!--<input class="form-control" name= 'psw' ng-model="" type="text">-->
<!--<input class="form-control" name="cpsw" data-equal-to='psw' ng-model="" type="text">-->


<select ng-model="selectedCountry" ng-options="item as item for item in country">
    <option value="">Select Country</option>
</select>

<pre>selectedItem: {{selectedCountry | json}}</pre>
<select ng-model="selectedState" ng-options="item as item for item in state">
    <option ng-if="!selectedState" ng-selected="selectedState">Select state</option>
</select>
<pre>selectedItem: {{selectedState | json}}</pre>
<input type="submit" ng-click="vp()">



</body>

</html>
